
body#bodyId {
  padding: 0;
}

div#innerWrapDiv {
	width: 100%;
}
div#innerWrapDiv>div {
       position: relative;
	width: 100%;
	margin: auto;
}

div.lpeCElement { width: 100%!important; }

div.lpeCElement.JS {
  position: absolute!important;
}

.mktoMobileShow .mktoForm, .mktoForm * {
	width: 100%!important;
  paadding: 0;
}

.mktoForm .mktoFormCol {
	position: relative;
	display: inline-block!important;
	width: 100%!important;
	margin: 0;
  padding: 5px 0px;
	box-sizing: border-box;
}

.mktoForm .mktoFieldWrap {
  float: none;
}

.mktoMobileShow .mktoForm .mktoFormCol .mktoLabel{
	display: block;
	width: 100% !important;
	float: none !important;
	line-height: 1.4em;
	padding-top: 0;
	margin-bottom: 10px;
}

.mktoForm input[type=text], .mktoForm input[type=url], 
.mktoForm input[type=email], .mktoForm input[type=tel], 
.mktoForm input[type=number], .mktoForm input[type=date], 
.mktoForm select.mktoField, .mktoForm textarea.mktoField, 
.mktoMobileShow .mktoForm input[type=url], .mktoMobileShow .mktoForm input[type=text],
.mktoMobileShow .mktoForm input[type=date], .mktoMobileShow .mktoForm input[type=tel],
.mktoMobileShow .mktoForm input[type=email], .mktoMobileShow .mktoForm input[type=number],
.mktoMobileShow .mktoForm textarea.mktoField, .mktoMobileShow .mktoForm select.mktoField {
  width: 100% !important;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  float: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
}

.mktoForm textarea.mktoField {
	height: 100px; 
}

.mktoForm input[type=text]:focus, .mktoForm input[type=url]:focus, 
.mktoForm input[type=email]:focus, .mktoForm input[type=tel]:focus, 
.mktoForm input[type=number]:focus, .mktoForm input[type=date]:focus, 
.mktoForm select.mktoField:focus, .mktoForm textarea.mktoField:focus {
  outline: 0;
  border: 1px solid #868686;
}

.mktoOffset, .mktoGutter, .mktoAsterix  {
	display: none !important;
}

.mktoButtonRow { margin-top: 15px !important; }  

.mktoForm .mktoButtonWrap { margin: 0!important;}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    color: #ffffff !important;
    background: #5290e9;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: auto;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    height: 50px;
    padding: 10px 30px;
    color: #ffffff !important;
    background: #69A0EF;
    border: 0 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active,  .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus{
    height: 50px;
    padding: 10px 30px;
    color: #ffffff !important;
    background: #4683db;
    border: 0!important;
}



.mktoForm input.mktoField.mktoInvalid, .mktoForm textarea.mktoField.mktoInvalid, .mktoForm select.mktoField.mktoInvalid, .mktoForm .mktoLogicalField.mktoInvalid {
  border: 3px solid #ccc;
  box-shadow: none;
}

.mktoForm .mktoError {
	  bottom: -3px !important;
	  right: 0 !important;
	  left: 0 !important;
	  width: 100%;
	  height: 10px;
}
.mktoForm .mktoError .mktoErrorArrowWrap {
  display: none !important;
}

.mktoForm .mktoError .mktoErrorMsg {
	background: transparent;
	color: #333;
	width: 100%;
	max-width: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	text-align: center;
	font-size: 0.85em;	
}

.mktoForm .mktoError .mktoErrorMsg .mktoErrorDetail {
  display: inline-block;
}


@media only screen and (max-width: 767px) {
  .mktoForm .mktoFormCol  {
      width: 100%!important; 
  }
}
